
<!-- table wunderlists search -->
<p>
<a href="?view_mode=edit_wunderlists" class="btn btn-default"><i class="glyphicon glyphicon-plus"></i> <#LANG_ADD_NEW_RECORD#></a>
[#if RESULT#]
<a href="?view_mode=refresh" class="btn btn-default"><#LANG_REFRESH#></a>
[#endif RESULT#]
</p>
<table width=100% border=0><tr>
<td valign=top>
<!-- results -->
[#if RESULT#]
<!-- search results (list) -->
<form action="?" method="post" name="frmList_wunderlists" style="padding:0px" class="form">
<table  align=center class="table table-striped">
<thead>
<tr>
 <th>
 <a href="?sortby_wunderlists=TITLE&save_qry=1"><#LANG_TITLE#></a><nobr>
 [#if SORTBY="TITLE"#](+)[#endif#]
 [#if SORTBY="TITLE DESC"#](-)[#endif#]</nobr>
 </th>
 <th>
 <#LANG_LINKED_OBJECT#>
 </th>
 <th>
 <#LANG_UPDATED#>
 </th>
<td>&nbsp;</td>
</tr>
</thead>
<tbody>
[#begin RESULT#]
<tr style="height:52px" class="hover_btn2">
 <td style="vertical-align:middle"
  >
  <b>
   [#TITLE#]
  </a></b>
 </td>
 <td style="vertical-align:middle"
   >
  [#if LINKED_OBJECT!=""#]
   [#LINKED_OBJECT#]
  [#else#]
   &nbsp;
  [#endif#]
 </td>
 <td style="vertical-align:middle">[#UPDATED#]</td>
 <td style="vertical-align:middle" width="1%" nowrap>
  <div style="width:120px">
  [#if "<#ACTION#>"=="admin"#]
   <a href="?view_mode=edit_wunderlists&id=[#ID#]" class="btn btn-default" title="<#LANG_EDIT#>"><i class="glyphicon glyphicon-pencil"></i></a>
    <a href="?view_mode=delete_wunderlists&id=[#ID#]" onClick="return confirm('Are you sure?')" class="btn btn-default" title="Delete"><i class="glyphicon glyphicon-remove"></i></a>
  [#endif ACTION#]
  </div>
 </td>
</tr>
[#end RESULT#]
</tbody>
</table>
<input type="hidden" name="data_source" value="<#DATA_SOURCE#>">
<input type="hidden" name="view_mode" value="multiple_wunderlists">
</form>

<p>
Use following code to update data automatically:
<pre>
include_once(DIR_MODULES.'app_wunderlist/app_wunderlist.class.php');
$wunderlist=new app_wunderlist();
$wunderlist-&gt;refreshAll();
</pre>
</p>
<p>
Read tasks for today (example for user 'User1'):
<pre>
 $data=explode("\n", getGlobal('User1.WunderlistTasksToday'));
 $total=count($data);
 for($i=0;$i<$total;$i++) {
  say($data[$i]);
 }
</pre>
</p>

<p>
Read tasks for specific list (list 'Work' for user 'User1'):
<pre>
 $list_name='Work';
 $data=unserialize(getGlobal('User1.WunderlistTasks'));
 $tasks=$data[$list_name]['TASKS'];
 $total=count($tasks);
 for($i=0;$i<$total;$i++) {
  say($tasks[$i]['title']);
 }
</pre>
</p>

<!-- / search results (list) -->
[#else RESULT#]
<p>
<font color="red">No records found.</font>
</p>
[#endif RESULT#]
<!-- / results -->
</td></tr></table>
